<div class="reservations">
    <h3 class="reservation-head">登録済みルーム一覧</h3>
    <table>

        <thead>
            <tr>
                <th>ルーム画像</th>
                <th>ルーム名</th>
                <th>ルーム紹介</th>
                <th>料金</th>
                <th>作成日</th>
            </tr>
        </thead>
        <tbody>
          <% @rooms.each do |room| %>
        <tr>
          <td><%= image_tag room.image.url , class:"reservations-image" %></td>
          <td class="room-name"><%= link_to room.name, room %></td>
          <td><%= room.content %></td>
          <td class="cost-icon"><%= room.cost %></td>
          <td><%= room.created_at %></td>
        </tr>
          <% end %>
    </tbody>
  </table>
</div>
